html{
  font-family: "eurostile", sans-serif !important;
  scroll-behavior: smooth !important;
}
.App {
  text-align: center;
}

.title{
  margin-top: 200px;
}

.title_heading{
  font-family: "eurostile", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #0a0a0a;
  line-height: 1.125 !important;
}

.navlinks{
  margin-right: 15px;
  border: 2px solid #6E07F3;
  border-radius: 20px;
  font-family: "eurostile", sans-serif;
  color: #0a0a0a !important;
}

.navlinks:hover{
  background-color: #6E07F3;
  color: white !important;
}

.computers_img{
  margin-top: 7%;
  max-width: 860px;
}

.about_section{
  font-family: "eurostile", sans-serif;
  padding: 9rem 4.5rem;
  background-color: #6E07F3;
  color: white;
}

.hello_text{
  color: white;
  font-size: 40px ;
  font-weight: bolder ;

}

.hello_secondary_text{
  margin-top: 2rem; 
  font-family: "eurostile", sans-serif;
  width: 1000px !important;
}

.hello_secondary_text h5{
  color: white !important;
  line-height: 1.6 !important;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
}

.technical_skill{
  font-size: 80px;
  text-align: left;
  background-color: #FFFFFF;
  
}

.skills_present{
  font-size: 30px;
}







