html{
  font-family: "eurostile", sans-serif !important;
  scroll-behavior: smooth;
}
.App {
  text-align: center;
}

.title{
  top: 140px;
  width: 80%;
  position: absolute;
  margin-left: 10%;
  
}

.title_heading{
  font-family: "eurostile", sans-serif;
  font-size: 100px;
  font-weight: 500;
  color: #0a0a0a !important;
  line-height: 1.125 !important;
}

.title h4{
  color:#0a0a0a !important;
  
}

.landing{
  position: relative;
}


.particle{
  background-color: black;
}


.computers_img{
  margin-top: 6%;
  max-width: 860px;
}

.about_section{
 padding-top:10rem;
  font-family: "eurostile", sans-serif;
  background: radial-gradient(#a23982,#1f1013);
  
  
  }
 
  .arrow {
    height: 200px;
    margin-top: 5%;
    animation: bounce 2s;
  animation-iteration-count: infinite;
  opacity: 70%;

  }

  .arrow:hover{
    display: none;
  }


.hello_text{
  color: white;
  font-size: 40px ;
  font-weight: bolder ;

}

.hello_secondary_text{
  margin-top: 2rem; 
  font-family: "eurostile", sans-serif;
  width: 1000px !important;
}

.hello_secondary_text h5{
  color: white !important;
  line-height: 1.6 !important;
}

.flex-container {
  display: flex;
}

.flex-container > div {
  margin: 10px;
  padding: 20px;
}

.tcn h1{
  z-index: 1 !important;
  font-size: 120px !important;
  text-align: left;
  position: relative;
  margin-left: 60px;
  color: #0B4781;
}


.skills_present{
  font-size: 30px;
}

#title_image{
  
  margin-top: 50px;
  animation: bounce 2s;
  animation-iteration-count: infinite;
}

.react-rotating-text-cursor {
  color: grey;
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}
 
@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.experience h1{
  color: grey;
  margin-top: 0px;
}

.wk{
  font-size: 90px;
}

.skillword{
  color: rgb(206, 89, 89);
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff !important;
  background: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  
}


.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #fff !important;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
  
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  left: 0;
  top: 0;
  border-radius: 10px;
  color: #000 !important;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}

.work_exp{
  margin-top: 30px;
}

.project{
  font-size: 90px;
  color: #000;
}

.area{
  background: #3bc828;  
  background: linear-gradient(to left, #8f94fb, #4e54c8);  
  width: 100%;
  height:80vh;
  z-index: 1;
  
 
}

.circles{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: relative;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 10s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 2s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}



@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}

@-webkit-keyframes circle-small-scale {
  0% {
      -webkit-transform: scale(1.0);
  }
  100% {
      -webkit-transform: scale(1.1);
  }
}

@keyframes circle-small-scale {
  0% {
      transform: scale(1.0);
  }
  100% {
      transform: scale(1.1);
  }
}


#container{
  background: #0B4781 !important;
  background: -moz-linear-gradient(-45deg, #00adef 0%, #0076e5 100%);
  background: -webkit-linear-gradient(-45deg, #00adef 0%,#0076e5 100%);
  background: linear-gradient(135deg, #00adef 0%,#0076e5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00adef', endColorstr='#0076e5',GradientType=1 );
  position: relative;
  height:550px;
  width: 100%;
  margin: 0px auto;
  padding: 0px auto;
  
  
}

#container-inside {
  position: relative;
  min-width: 960px;
  max-width: 1280px;
  height: auto;
  min-height: 100%;
  margin: 0px auto;
  padding: 0px auto;
  overflow: visible;
  
}

#circle-small {
  -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
  animation: circle-small-scale 3s ease-in-out infinite alternate;
  animation-timing-function: cubic-bezier(.6, 0, .4, 1);
  animation-delay: 0s;
  position: relative;
  top: 0px;
  left: -250px;
  background: #fff;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  opacity: 0.3;
  
}

#circle-medium {
  -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
  animation: circle-small-scale 3s ease-in-out infinite alternate;
  animation-timing-function: cubic-bezier(.6, 0, .4, 1);
  animation-delay: 0.3s;
  position: absolute;
  top: -150px;
  left: -300px;
  background: #fff;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  opacity: 0.3;
  
}

#circle-large {
  -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
  animation: circle-small-scale 3s ease-in-out infinite alternate;
  animation-timing-function: cubic-bezier(.6, 0, .4, 1);
  animation-delay: 0.6s;
  position: absolute;
  top: -300px;
  left: -350px;
  background: #fff;
  width: 900px;
  height: 900px;
  border-radius: 50%;
  opacity: 0.2;
  
}

#circle-xlarge {
  -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
  animation: circle-small-scale 3s ease-in-out infinite alternate;
  animation-timing-function: cubic-bezier(.6, 0, .4, 1);
  animation-delay: 0.9s;
  position: absolute;
  top: -450px;
  left: -400px;
  background: #fff;
  width: 1200px;
  height: 1200px;
  border-radius: 50%;
  opacity: 0.1;
 
}

#circle-xxlarge {
  -webkit-animation: circle-small-scale 3s ease-in-out infinite alternate;
  animation: circle-small-scale 3s ease-in-out infinite alternate;
  animation-timing-function: cubic-bezier(.6, 0, .4, 1);
  animation-delay: 1.2s;
  position: absolute;
  top: -600px;
  left: -350px;
  background: #fff;
  width: 1300px;
  height: 1300px;
  border-radius: 50%;
  opacity: 0.05;
  
}

.navbar_heading{
  font-size: 5vh !important;
}



.animate-charcter
{
   
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #367E18 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  
      font-size: 190px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}


.skills_section{
  margin-top: 2rem;
}


.skillLogo{
  height: 100px;
  width: 100px;
}

.ocean {
  height: 180px; /* change the height of the waves here */
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: hidden;
  transform: rotate(180deg);
  z-index: -1;
}

.wave {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 800 88.7'%3E%3Cpath d='M800 56.9c-155.5 0-204.9-50-405.5-49.9-200 0-250 49.9-394.5 49.9v31.8h800v-.2-31.6z' fill='%23003F7C'/%3E%3C/svg%3E");
  position: absolute;
  width: 200%;
  height: 100%;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
}

.wave:nth-of-type(2) {
  bottom: 0;
  animation: wave 18s linear reverse infinite;
  opacity: 0.5;
}

.wave:nth-of-type(3) {
  bottom: 0;
  animation: wave 20s -1s linear infinite;
  opacity: 0.5;
}

@keyframes wave {
    0% {transform: translateX(0);}
    50% {transform: translateX(-25%);}
    100% {transform: translateX(-50%);}
}

.timeline_text h1{
  font-size: 120px !important;
  margin-right: 50px;
}

.timeline_background{
  background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%); 
}

.footer{
  
}